@import "style.css";

html {
  background-color: #FFFFFF;
  color: #363636;
}

#menu,
#menu a,
details {
  background: #FFFFFF;
  color: #363636;
}

#menu #projects a {
  background: #00b3ff;
  color: #FFFFFF;
  text-decoration: none;
}

span {
  color: #00b3ff;
}

h1 {
  color: #363636;
}

a {
  color: #878787;
}

a:hover {
  color: #363636;
}

#menu li a:hover {
  border-radius: 10px;
  color: white;
  background: #363636;
  transition: all 0.5s ease-out;
}

details:hover {
  background: #d7d7d7;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  background-color: #d7d7d7;
}

::-webkit-scrollbar-thumb {
  background-color: #878787;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00b3ff;
}

#theme-toggle {
  border: 2px solid #878787;
  color: #878787;
}

#theme-toggle:hover {
  color: #363636;
  border: 2px solid #363636;
}

#scroll_up {
  color: #363636;
}

#scroll_up:hover {
  color: #00b3ff;
}

/* PROJECT'S GRID */
#project_grid h1 {
  color: #363636;
}

#project_grid div {
  background-color: #d7d7d7;
  color: #363636;
}

#project_grid div:hover {
  background-color: #bbb8b8;
  transition: all 0.3s ease-out;
  color: white;
}
#project_grid div:hover h1,
#project_grid div:hover p {
  color: white;
  transition: all 0.3s ease-out;
}

/* SKILLS GRID */
#skills_grid .skill {
  background-color: #d7d7d7;
  color: #363636;
}

#skills_grid .software {
  background-color: #d7d7d7;
  color: #363636;
}

#skills_grid .software:hover,
#skills_grid .skill:hover {
  background-color: #bbb8b8;
  transition: all 0.3s ease-out;
  color: white;
}

#skills_grid .software:hover h1,
#skills_grid .software:hover span,
#skills_grid .skill:hover h1,
#skills_grid .skill:hover span {
  color: white;
  transition: all 0.3s ease-out;
}

#skills_grid a {
  text-decoration: none;
}

#skills_grid span,
#skills_grid a div h1 {
  color: #363636;
}

a {
  color: #00b3ff;
  text-decoration: underline;
  transition: all 0.5s ease-out;
}

a:hover {
  color: #363636;
}

#menu a,
#project_grid a,
#skills_grid a,
#scroll_up {
  text-decoration: none;
}

#skills_grid .skill, #skills_grid .software, #project_grid .project {
  color: #363636;
}