@import "style.css";

html {
  background-color: #FFFFFF;
  color: #000000;
}

#menu,
#menu a,
details {
  background: #FFFFFF;
  color: #000000;
}

span {
  color: #576CBC;
}

h1 {
  color: #000000;
}

a {
  color: #576CBC;
}

a:hover {
  color: #000000;
}

#menu li a:hover {
  border-radius: 10px;
  color: #000000;
  background: #A5D7E8;
  transition: all 0.5s ease-out;
}

details:hover {
  background: #A5D7E8;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  background-color: #A5D7E8;
}

::-webkit-scrollbar-thumb {
  background-color: #576CBC;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #19376D;
}

#theme-toggle {
  border: 2px solid #576CBC;
  color: #576CBC;
}

#theme-toggle:hover {
  color: #000000;
  border: 2px solid #000000;
}

#scroll_up {
  color: #000000;
}

#scroll_up:hover {
  color: #576CBC;
}


/*  PROJECT'S GRID */
#project_grid h1 {
  color: #000000;
}

#project_grid div {
  background-color: #576CBC;
  color: #000000;
}

#project_grid div:hover {
  background-color: #A5D7E8;
  transition: all 0.3s ease-out;
  color: #000000;
}


/* SKILL'S GRID */
#skills_grid .skill {
  background-color: #576CBC;
  color: #000000;
}

#skills_grid .software {
  background-color: #576CBC;
  color: #000000;
}

#skills_grid .software:hover, #skills_grid .skill:hover {
  background-color: #A5D7E8;
  transition: all 0.3s ease-out;
}

#skills_grid a {
  text-decoration: none;
}

#skills_grid span, #skills_grid a div h1 {
  color: #000000;
}
