@import "desktop.css"(min-width: 901px);
@import "mobile.css"(min-width: 0px) and (max-width: 900px);

@font-face {
  font-family: 'Cascadia';
  font-weight: 500;
  src: url("../fonts/Cascadia.ttf") format("truetype");
}

html {
  background-color: #1f2937;
  color: white;
  font-family: Cascadia;
  scroll-behavior: smooth;
}

span {
  color: #43c19a;
}

a {
  color: #43c19a;
  transition: all 0.5s ease-out;
}

details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

details {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-radius: 20px;
  transition: all 0.5s ease-out;
}

details:not([open])>summary>h1::before {
  content: "○ "
}

details[open]>summary>h1::before {
  content: "● "
}

details:hover {
  background: #121820;
  transition: all 0.5s ease-out;
}



/*  PROJECT'S GRID */
#project_grid {
  color: #43c19a;
}

#project_grid div {
  background-color: #121820;
}

#project_grid div:hover {
  background-color: #12182090;
  transition: all 0.3s ease-out;
  color: #bd6bc0;
}

#project_grid a {
  text-decoration: none;
}

/* SKILL'S GRID */
#skills_grid .skill {
  background-color: #121820;
  color: #43c19a;
}

#skills_grid .software {
  background-color: #121820;
  color: #bd6bc0;
}

#skills_grid .software:hover, #skills_grid .skill:hover {
  background-color: #12182090;
  transition: all 0.3s ease-out;
}

#skills_grid a {
  text-decoration: none;
}





/* SCROLLBAR */
::-webkit-scrollbar {
  background-color: #121820;
}

::-webkit-scrollbar-thumb {
  background-color: #43c19a;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bd6bc0;
}

#scroll_down {
  /* The arrow is a link by itself, we are removing any decoration */
  text-decoration: none;
}

#para_scroll {
  /* The paragraph that contains the arrow to scroll down, needed to be centered */
  text-align: center;
}

.fa-circle-arrow-down:hover {
  /* Arrow to scroll down, general properties */
  transition: all 0.3s ease-out;
  transform: rotate(1turn);
}

#theme-toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  border: 2px solid #43c19a;
  color: #43c19a;
  font-size: 16px;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 0.5% 0.5% 0 0;
  transition: all 0.3s ease-out;
}

#theme-toggle:hover {
  color: #bd6bc0;
  border: 2px solid #bd6bc0;
  transition: all 0.3s ease-out;
}