@import url(index.css);

body {
    text-align: justify;
}

p {
    padding: 5%;
    background-color: rgba(38, 46, 74, 0.7);
    transition: all 0.3s ease-out;
    border-radius: 25px;
    margin: 1%;
}

p:hover {
    background-color: rgba(38, 46, 74, 1);
    transition: all 0.3s ease-out;
}

h3 {
    text-align: center;
    font-size: 50px;
    color: orange;
    margin: 0;
}